{{< ../boilerplate}}
{{/ ../boilerplate}}

defined('MOODLE_INTERNAL') || die();

/**
 * Custom code to be run on installing the plugin.
 *
 */
function xmldb_{{component}}_install() {

    return true;
}
