{{< ../boilerplate}}
{{/ ../boilerplate}}

defined('MOODLE_INTERNAL') || die();

/**
 * Helper function used by the upgrade.php file.
 *
 * Helper functions for the upgrade.php file should be defined here.
 * Please note that you should always be performing any task using raw (low
 * level) database access exclusively, avoiding any use of the Moodle APIs.
 *
 * For more information please read the available Moodle documentation:
 * https://docs.moodle.org/dev/Upgrade_API
 */
function {{component}}_helper_function() {
    global $DB;

    // Your code goes here.
}
