{{< ../../boilerplate}}
{{/ ../../boilerplate}}

namespace {{component}}\event;
defined('MOODLE_INTERNAL') || die();

/**
 * This is a one-line short description of the class.
 *
 * You can have a rather long description of the class as well,
 * and it can span multiple lines.
 *
 * @package    {{component}}
 * @copyright  {{year}} {{author.name}} {{author.email}}
 * @license    http://www.gnu.org/copyleft/gpl.html GNU GPL v3 or later
 */
class {{features.events.eventname}} extends {{features.events.extends}} {
    // For more information about the Events API, please visit:
    // https://docs.moodle.org/dev/Event_2
}
